@mixin btn {
  font-family: $font-bold;
  padding: 0;
  line-height: 1.2;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
  border-radius: 0;
  @include user-select(none);
  @include touch-action(manipulation);
  transition: 400ms;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
    outline: 0;
  }
}

@mixin btnAction($color1, $color2) {
	@include btn();
	color: $color2;
	background: transparent;
	font-size: 0.9em;
	text-transform: uppercase;
	padding: 1em 1.5em;
  border: 0.2em solid $color2;
  border-radius: 50px;
	@include notebook {
		&:hover {
        color: $color1;
        background: $color2;
        border: 0.2em solid $color1;
      }
    }
  }
  .psi-cta-container {
	@include flex($justify-content:center, $align-item:center);
	margin-top: 3em;
  }
  
  .psi-section-btn.green {
	@include btnAction($c-white, $c-green);
  }
  