$c-white        : #ffffff;
$c-black        : #000000;
$c-lead         : #707070;
$c-rose-lead    : #BF8EA0;
$c-rose-metal   : #dea6b3;
$c-rose         : #F3C9D3;
$c-green        : #088C8C;
$c-gray         : #95989A;
$c-gray-light   : #D5D5D5;
$c-gray-smoke   : #00000033;
$c-white-smoke  : #0000001F;


$c-rose-gradient : transparent linear-gradient(360deg, #BF8EA0 0%, #F3C9D3 100%) 0% 0% no-repeat padding-box;